Options -Indexes

<FilesMatch ".*\.(log|ini|htaccess)$">
    deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Permitir acceso directo a public/ y uploads/
    RewriteRule ^(public|uploads|styles)($|/) - [L,NC]

    # Permitir archivos y carpetas existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rutas amigables
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?controller=$1&method=$2&id=$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?controller=$1&method=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?controller=$1 [L,QSA]
</IfModule>
