.logo {
  margin: 0;
  padding: 0;
  border: 0;
}

.logo-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-container img {
  max-width: 250px;
  height: auto;
  display: block;
}

.label {
  margin-top: 10px;
}

.fade-out {
  animation: startFade 5s forwards;
}

@keyframes startFade {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}