/* body {
    font-family: "Inter", sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
} */

.logo {
  margin: 0;
  padding: 0;
  border: 0;
}

.logo-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-container img {
  max-width: 250px;
  height: auto;
  display: block;
}

.label {
  margin-top: 10px;
}