<div class="w3-container" style="margin-top:70px; display:flex; justify-content:center;">
    <div class="w3-container" style="margin-top:2rem; max-width:800px; width:100%;">
        <div class="w3-content" style="margin-top:20px;">
            <div class="w3-padding-large w3-margin-bottom" style ="width:100%">
                <div class="w3-panel w3-round-large w3-card w3-padding-16 w3-win8-pink"
                      style="height:100%; min-height:180px; display:flex; align-items:center; justify-content:center; background-color:transparent;">
                    <a href="/admin/dashboard" class="w3-button w3-block w3-xlarge w3-text-white"
                       style="white-space: normal; word-wrap: break-word; padding: 12px;">
                    Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>

