<div class="w3-container w3-card w3-pale-blue w3-round w3-margin">
  <h2 class="w3-center">Panel del Editor</h2>
  <ul class="w3-ul w3-hoverable">
    <li>
      <a href="/editor/all"
         class="w3-button w3-block w3-white">
        Ver todas las preguntas
      </a>
    </li>
    <li>
      <a href="/editor/reported"
         class="w3-button w3-block w3-white">
        Ver preguntas reportadas
      </a>
    </li>
    <li>
      <a href="/editor/new"
         class="w3-button w3-block w3-white">
        Ver preguntas nuevas
      </a>
    </li>
  </ul>
</div>
