<!DOCTYPE html>
<html lang="en">
<head>
    <title>Código Trivia</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/w3-win8-colors.css">
    <link rel="icon" type="image/x-icon" href="/uploads/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body class="w3-display-container{{#isLoginView}} w3-deep-purple {{/isLoginView}}" style="height: 100vh" >

{{^isLoginView}}
{{^isRegisterView}}
<div class="w3-top">
  <div class="w3-bar w3-padding w3-card w3-deep-purple w3-text-white">
        <a href="/" class="logo w3-bar-item w3-button">Código Trivia</a>
        {{^user}}
    <div class="w3-right w3-hide-small">
                <a href="/login" class="w3-bar-item w3-button">Login</a>
                <a href="/register" class="w3-bar-item w3-button">Registro</a>
            </div>
        {{/user}}
        {{#user}}
            <div class="w3-bar-item w3-right w3-padding-large">
                <img src="/{{profile_picture}}?v={{rand}}" alt="Perfil"
                style="height:40px;width:40px;border-radius:50%;object-fit:cover;border: 2px solid white;">
                <span class="w3-margin-left">Hola, {{name}}</span>
                <a href="/login/logout" class="w3-bar-item w3-button w3-padding-large">Cerrar sesión</a>
                <a href="{{panelUrl}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Lobby</a>
                <a href="/perfilUsuario/show" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Perfil Usuario</a>
            </div>
        {{/user}}
    </div>
</div>
{{/isRegisterView}}
{{/isLoginView}}