<div class="w3-container w3-margin-top">

    <br>
    <br>
    <br>
    <div class="w3-card-4 w3-white w3-round-large w3-padding-large w3-animate-opacity">
        <div class="w3-center">
            <img src="/{{profile_picture}}?v={{rand}}" alt="Foto de perfil"
                 class="w3-circle w3-border w3-border-black"
                 width="150" height="150">
        </div>


        <h2 class="w3-text-purple">Perfil de Usuario</h2>

        <div class="w3-container w3-margin-top">
            <p><strong>Nombre:</strong> {{name}} {{last_name}}</p>
            <p><strong>Fecha de nacimiento:</strong> {{birth_date}}</p>
            <p><strong>Género:</strong> {{gender}}</p>
            <p><strong>País:</strong> {{country}}</p>
            <p><strong>Ciudad:</strong> {{city}}</p>
            <p><strong>Email:</strong> {{email}}</p>
            <p><strong>Fecha de registro:</strong> {{created_at}}</p>
            <p><strong>Ubicación:</strong></p>
            <div id="map" style="height: 300px; border-radius: 10px;"></div>
        </div>
        {{#is_own_profile}}
            <div class="w3-center w3-margin-top">
                <a href="/perfilUsuario/edit" class="w3-button w3-purple w3-round-large">Editar Perfil</a>
            </div>
        {{/is_own_profile}}

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lat = {{#lat}}{{lat}}{{/lat}}{{^lat}}null{{/lat}};
        var lng = {{#lng}}{{lng}}{{/lng}}{{^lng}}null{{/lng}};

        if (!isNaN(lat) && !isNaN(lng)) {
            var map = L.map('map').setView([lat, lng], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap',
            }).addTo(map);

            L.marker([lat, lng]).addTo(map)
                    .bindPopup("Ubicación del usuario")
                    .openPopup();
        } else {
            document.getElementById('map').innerHTML = "<p>Ubicación no disponible.</p>";
        }
    });
</script>