<h2>Perfil de {{username}}</h2>

<div class="w3-card w3-padding w3-margin">
    <img src="/public/profile_pictures/{{profile_picture}}" alt="Foto de Perfil" style="width:150px; height:150px; object-fit:cover;">
    <p><strong>Nombre:</strong> {{name}} {{last_name}}</p>
    <p><strong>Puntaje Final:</strong> {{correct_answers}} respuestas correctas de {{total_answers}}</p>
    <p><strong>Dificultad Promedio:</strong> {{difficulty}}</p>
    <p><strong>Ubicación:</strong> {{city}}, {{country}}</p>
    <p><strong>Partidas Jugadas:</strong> {{games_played}}</p>
</div>

<div id="map" style="height: 300px;"></div>





<!-- mapa CSS -->
<link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-sA+4NR0T0G58lM2HrKeR8D9ALaS9CTCO9TIiC2LrE3A="
        crossorigin=""
/>

<!-- mapa JS -->
<script
        src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-DzZ4eWkONh5C3URro12CtEeX5e7QTh8ZepcRZx4pmiw="
        crossorigin=""
></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const lat = parseFloat({{lat}});
        const lng = parseFloat({{lng}});

        if (!isNaN(lat) && !isNaN(lng)) {
            const map = L.map('map').setView([lat, lng], 8);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);

            L.marker([lat, lng]).addTo(map)
                    .bindPopup('{{username}}')
                    .openPopup();
        } else {
            document.getElementById('map').innerHTML = '<p>No hay datos de ubicación disponibles.</p>';
        }
    });
</script>


