<div class="w3-container w3-card w3-light-grey w3-round w3-margin">
    <h2 class="w3-center">Panel del Jugador</h2>
    <ul class="w3-ul w3-hoverable">
        <li><a href="/tp/quiz/newGame" class="w3-button w3-block w3-white">Nueva Partida</a></li>
        <li><a href="/tp/ranking" class="w3-button w3-block w3-white">Ranking Mundial</a></li>
        <li><a href="/tp/record" class="w3-button w3-block w3-white">Historial de Partidas</a></li>
        <li><a href="#" class="w3-button w3-block w3-white">Crear Pregunta</a></li>
    </ul>
</div>
