<div class="w3-container" style="margin-top:70px; display:flex; justify-content:center;">
    <div class="w3-container" style="margin-top:2rem; max-width:800px; width:100%;">

        <div class="w3-content" style="margin-top:20px;">
            <div class="w3-row-padding">
                <div class="w3-padding-large w3-half w3-margin-bottom">
                    <div class="w3-panel w3-round-large w3-card w3-padding-16 w3-win8-pink"
                         style="height:100%; min-height:180px; display:flex; align-items:center; justify-content:center; background-color:transparent;">
                        <a href="/tp/quiz/newGame" class="w3-button w3-block w3-xlarge">Nueva Partida</a>
                    </div>
                </div>
                <div class="w3-padding-large w3-half w3-margin-bottom">
                    <div class="w3-panel w3-round-large w3-card w3-padding-16 w3-win8-green"
                         style="height:100%; min-height:180px; display:flex; align-items:center; justify-content:center; background-color:transparent;">
                        <a href="/tp/ranking" class="w3-button w3-block w3-xlarge">Ranking Mundial</a>
                    </div>
                </div>
                <div class="w3-padding-large w3-half w3-margin-bottom">
                    <div class="w3-panel w3-round-large w3-card w3-padding-16 w3-win8-blue"
                         style="height:100%; min-height:180px; display:flex; align-items:center; justify-content:center; background-color:transparent;">
                        <a href="/tp/record" class="w3-button w3-block w3-xlarge">Historial de Partidas</a>
                    </div>
                </div>
                <div class="w3-padding-large w3-half w3-margin-bottom">
                    <div class="w3-panel w3-round-large w3-card w3-padding-16 w3-win8-orange"
                         style="height:100%; min-height:180px; display:flex; align-items:center; justify-content:center; background-color:transparent;">
                        <a href="/tp/crearPregunta" class="w3-button w3-block w3-xlarge">Crear Pregunta</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>