<h2>Registrarse</h2>
<form method="POST" action="index.php?controller=auth&method=handleRegister">
    <input type="text" name="name" placeholder="Nombre" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Crear cuenta</button>
</form>

